#!/bin/sh
###############################################################################
. ${HOME}/.config/SmokeScreen/smokescreen.conf

lock="/tmp/$(basename $0)"

if [ ! -f ${lock} ]; then
	echo "$$" > ${lock}

	echo "$(date "+%d.%m.%Y %T") INFO: Checking for ${checkfile}"
	if [ -f "${checkfile}" ]; then
		echo "$(date "+%d.%m.%Y %T") INFO: Check successful,drive mounted"
		rm ${lock}
		exit 0
	else
		echo "$(date "+%d.%m.%Y %T") ERROR: Drive not mounted remount in progress"
		/bin/bash ${bindir}/mount.remote 2>&1
		sleep 10

		if [ -f "${checkfile}" ]; then
			echo "$(date "+%d.%m.%Y %T") INFO: Remount successful"
			rm ${lock}
			exit 0
		else
			echo "$(date "+%d.%m.%Y %T") CRITICAL: Remount failed, unmounting everything."
			/bin/bash ${bindir}/unmount.remote 2>&1
			sleep 30
			rm ${lock}
			exit 2
		fi
	fi
else
	# error!
	echo "$(date "+%d.%m.%Y %T") INFO: Check already running on PID $(cat ${lock})."
	exit 3
fi
